body {
    margin: 0;
  }

/* Set the size of the div element that contains the map */
#map {
    height: 1200px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.titleblock {
padding: 30px;
text-align: center;
background-color: rgb(170, 218, 255);
}
  
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    margin: 10px;
}