body {
    margin: 0;
    background-color: rgb(206, 238, 206);
  }

/* Set the size of the div element that contains the map */
#map {
    height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}